.bg-light {
    border: 1px solid black;
    border-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 300px;
}
.title-logo {
    width: 15%;
}
.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    background-color: darkblue;
}
.title-btn {
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    height: 40px;
    border-color: rgb(20, 108, 232);
}