<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  <title> Musicademy </title>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="col-9">
          <div class="row">
            <div class="col-6">
              <img src="https://apprecs.org/gp/images/app-icons/300/45/modern.audio.tools.musicequalizer.jpg" class="title-logo">
              <a class="navbar-brand" style="padding-top: 20px; padding-left: 20px;" href="/"> Musicademy </a>
            </div>
            
            <div class="col-6 header-links">
              <a class="navbar-brand col-2" href="/">Home</a>
              <a class="navbar-brand col-2" href="/learn/1">Learn</a>
              <a class="navbar-brand col-2" href="/quiz/1">Quiz</a>
            </div>
          </div>
        </div> 
        
        <div class="col-3">
          <input type="submit" value="Sign Up" class="btn title-btn">
          <input type="submit" value="Login" class="btn title-btn">
        </div>
      </div> 
      </div>
    </nav>
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 background"></div>
      <div class="col-8">
        {% block content %}
        {% endblock %}
      </div> 
      <div class="col-2 background"></div>     
    </div>
  </div>

  </body>
</html>

