<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

  <!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

  <title> Musicademy </title>

  </head>
  <body>
    <nav id = "topnav" class="navbar navbar-expand-lg navbar-light bg-light topnav">
      <div class="container">
        <div class="col-3" id="logo-nav">
          <img src="https://apprecs.org/gp/images/app-icons/300/45/modern.audio.tools.musicequalizer.jpg" class="title-logo">
          <a class="navbar-brand" style="padding-left: 20px;" href="/"> Musicademy </a>
        </div>
            
        <div class="col-6 header-links">
            <a class="navbar-brand col-2 home-btn" href="/"><button class="btn options-btns">Home</button></a>
            <a class="navbar-brand col-2 learn-btn" href="/learn/1"><button class="btn options-btns">Learn</button></a>
            <a class="navbar-brand col-2 quizz-btn" href="/quiz/1"><button class="btn options-btns">Quiz</button></a>
        </div>
        
        <div class="col-3" id="login-btns">
          <a class="navbar-brand" href="/"><button class="btn title-btn">Sign Up</button></a>
          <a class="navbar-brand" href="/"><button class="btn title-btn">Login</button></a>
        </div>
      </div> 
      </div>
    </nav>
    
  <div class="container-fluid">
    <div class="row">
      <div class="col-1 background"></div>
      <div class="col-10 container-main">
        {% block content %}
        {% endblock %}
      </div> 
      <div class="col-1 background"></div>     
    </div>
  </div>

  </body>
</html>

