{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <script>
        var data = {{data|tojson}};
    </script>
    <script src="../static/learn.js"></script> 

    <div class="row">
        <div class="learn-text-group">
            <div class="col-md-12 title">
                <h1 style="color:white; font-size: 55px; text-align: center;">{{data.topic}}</h1>
                <hr style="background-color: rgb(255, 255, 255);">
            </div>
            
            <div class="col-md-12">
                {{data.summary}}
            </div>
        </div>
        <div id="audio-wrapper" class="col-md-12">
            <br>
            <!--     Listen to {{data.name}}:      -->
            <br>
        </div>
    </div>

    <div class="d-flex justify-content-between" id="buttons-wrapper"> 
    </div>
</div>

{% endblock content %}