{% extends "layout.html" %}

{% block content %}
<div class="container">
    <img src="https://apprecs.org/gp/images/app-icons/300/45/modern.audio.tools.musicequalizer.jpg" id="logo" class="center"/>
  <div class="sub-header">
    <h3> Musicademy </h3>
  </div>

  <div class="row m-5">   
    <a href="/learn/1" type="button" class="btn btn-center dark-b">Begin Learning</a>
  </div>
  
  <div class="row m-5"> 
    <a href="/quiz/1" type="button" class="btn btn-center cyan"> Quiz Yourself</a>
  </div>

</div>

{% endblock %}